@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --header: #1f1b21;
    --fondo: #2b2031;
    --articulo: #32203b;
    --extra: #f0e3f7;
    --active: #ff88fb;
    --medio: #4b3356;
}

/* GLOBAL */
#body {
    font-family: 'Cascadia Code', sans-serif;
    background: var(--fondo);
    color: #999;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a,
#recuperar,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--extra);
}

#recuperar {
    text-decoration: underline;
}

#recuperar:hover,
a:hover {
    color: var(--active);
    transition: 1s;
    cursor: pointer;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    width: 100vw;
    max-width: 100%;
    height: 17vh;
    max-height: 17%;
    background: var(--header);
    border-bottom: 2px solid var(--medio);
}

header img {
    border-radius: 25px;
    border-bottom: solid 1px var(--extra);
    border-left: solid 1px var(--extra);
    width: 80%;
    margin-left: 20px;
}

button {
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1.1rem;
    background: var(--extra);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 5px #fff;
    border-style: none;
    margin: 10px 20px;
}

button:hover {
    background: var(--active);
    cursor: pointer;
    transition: 1s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

footer {
    background: var(--header);
    position: absolute;
    top: 100%;
    height: 8vh;
    max-height: 8%;
    width: 100vw;
    max-width: 100%;
    border-top: 2px solid var(--medio);
    text-align: center;
}

/* INDEX */
#slider {
    display: grid;
    grid-template-areas: "slider";
}

#slider img {
    grid-area: slider;
    transition: opacity 1s ease;
    box-shadow: 0 0 5px var(--active);
    border-radius: 25px;
    width: 100%;
}

#slider1 {
    opacity: 0;
    /* Dejar pa que funcione el carrusel */
}

#informacion {
    margin: 20px 0;
    background: var(--articulo);
    padding: 10px;
    box-shadow: 0 0 5px #000;
    border-radius: 25px;
    width: 190%;
}

/* INICIO DE SESIÓN Y REGISTRO */
#formAccount {
    background: var(--articulo);
    width: 150%;
    padding: 20px;
    box-shadow: 0 0 5px #000;
}

#formAccount div {
    display: flex;
    justify-content: space-between;
}

input {
    font-family: 'Cascadia Code', sans-serif;
    border-radius: 25px;
    width: 60%;
    padding: 5px;
    margin: 5px;
    border-style: none;
    background: var(--extra);
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--active);
}